@{
    ViewBag.Title = "Contact Your MN Representative for HF 2889 and SF 3142";
}

<h1>Contact Your Minnesota Representatives</h1>

<p>
  <a href="http://www.gis.leg.mn/iMaps/districts/">Find your Representatives</a> and urge them to support Bill HF 2889 and SF 3142 because it produces fair child support outcomes for children of divorce.  
</p>
