@{
    ViewBag.Title = "Unfair Child Support Examples in Minnesota";
}

<h1>Minnesota's Problematic Parenting Time Brackets</h1>
<p>Consider the chart below which compares monthly basic child support obligations by State. In this scenario, both parents have incomes of $70,000 per year and there are two children.</p>
<img style="width: 100%; max-width: 958px" src="/Content/images/child-support-flaws-in-mn.jpg" alt="child support comparison by State"/>
<br/><br />
<p>The chart above brings a clear visual to the parenting time "cliff" in Minnesota's current calculator.
  Under the scenario described a parent would you pay $0/mo. if their parenting time is above 45% and
  a whopping $1,037 if they are just under (i.e. 43%). If the children are young, a parent may be obligated to this for 16 years. A difference of $200,000!
  Also, keep in mind that child support is an after-tax exchange. The obligor pays with after-tax dollars to the obligee whom receives the money tax-free. Is a swing of
  $200,000 fair and does it benefit the children?  How will parents will handle this outcome and what impact will this have on their children?
</p>

<p>
  If we compare gross incomes after child support assuming a 20% tax bracket for each parent:<br/>
  - A child support obligation of $1039/mo. is gross obligation of $1244/mo. (1039 * 1.20 taxes paid) or $14,928/yr.<br />
  - <strong>Parent A's gross income is now $55,072/yr.</strong> - reduced from $70,000/yr. by $14,928.<br />
  - <strong>Parent B's gorss income is now $84,928/yr.</strong> - inceased from $70,000/yr. by $14,928.
</p>

<p>
  We now have a difference of of income between households of $29,856 because Parent A only has 43% (157 nights) parenting time and parent B has 57% (208 nights).
  That means Parent B earns an extra $533/night for each of their extra 51 overnights each year. Does it really cost $533/day to raise two children? You now understand the parenting time cliff
  and why it needs to be addressed. It is creating financial conflict between divorcing parents who already have enough issues to work through.
  In the end, it hurts the children the most by creating conflict between parents and an unfair balance of income between their homes.
</p>