@model MnCalculator.Models.CalculatorResult
@{
    ViewBag.Title = "Minnesota Child Support Calculator - Bill HF2889";
}

<div class="jumbotron">
    <h1>Minnesota Child Support Calculator</h1>
    <p class="lead">
        This calculator demostrates the calculated outcomes of Minnesota House Bill HF2889.  HF2889 addresses the calculation of the parenting expense adjustment for purposes of child support, and the guidelines for computing of child support.  <br />To view the current calculator in effect as of @DateTime.Now.ToShortDateString()
        <a href="http://childsupportcalculator.dhs.state.mn.us/" title="Minnesota Child Support Calculator">click here</a>
    </p>
    <p><a href="https://www.revisor.mn.gov/bills/bill.php?b=House&f=HF2889&ssn=0&y=2015" class="btn btn-primary btn-lg" title="Minnesota House Bill HF2889">See MN House Bill HF2889 &raquo;</a></p>
</div>


<div class="form-horizontal">
    <h2>Minnesota Child Support Calculator Results</h2>
    @Model.Result
</div>

