body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.dl-horizontal dt, .dl-horizontal dd, .resultRow span {
    font-size: 11px;
    text-align: left;
    padding: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.resultRow:nth-of-type(odd) {
    background-color: #f0f0f0;
}
.resultRow span:first-child {
    font-weight: bold;
}
.row {
  margin: 0;
}
.category {
  margin-bottom: 15px;
  padding: 0;
  border: 1px dotted #cccccc;
}
.category h2 {
  font-size: 11px;
  font-weight: bold;
  padding: 5px 0 4px 5px;
  margin: 0;
  background: #cccccc;
              box-sizing:border-box;
}
.headerRow {
    font-weight: bold;
}
.form-horizontal .control-label {
    text-align: left;
    font-size: 3vw;
  color: #333;
}


.jumbotron {
    padding-top: 28px;
    padding-bottom: 28px;
}

    .jumbotron h1 {
        font-size: 24px;
    }

.lead {
    font-size: 14px;
}

#parentBOvernights,
#parentAPercentage,
#parentBPercentage
 {
    padding-top: 3px;
    padding-left: 10px;
    display: inline-block;
    font-size: 13px
}

h2 {
    font-size: 20px;
}

.form-group {
  margin-bottom: 5px;
}
.form-group.bottomDottedBorder {
  padding-bottom: 5px;
  border-bottom: 1px dotted #ccc;
}
.form-control {
  height: 25px;
  padding: 2px 10px;
  font-size: 13px;
}
.form-horizontal .text-danger {
     font-size: 2.5vw;
    line-height: 1em;
}
.radio-label {
  font-weight: normal;
  margin-right: 20px;
}
.validation-summary-errors {
  background: #ffdddd;
  border: 1px solid darkred;
  margin: 10px 0;
  box-sizing: border-box;
}
.validation-summary-errors ul {
  margin: 0;
}
.validation-summary-errors li {
  list-style: none;
  color: darkred;
  margin: 4px 0;
  text-align: center;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 200px;
}
input.smallWidth {
  max-width: 80px;
}

@media screen and (min-width: 400px) {
    .form-horizontal .control-label {
        font-size: 13px;
    }

    .form-horizontal .text-danger {
        font-size: 11px;
    }
}
